In [6]:
import pandas as pd
import numpy as np

In [7]:
fide = pd.read_csv('fide_historical.csv')
fide['title'].unique()
fide
fide['title'].replace('m','im',inplace=True)
fide['title'].replace('f','fm',inplace=True)
fide['title'].unique()

array(['g', 'wg', 'im', 'fm'], dtype=object)

In [8]:
index0 = fide[(fide['name']=='Anand, Viswanathan')&(fide['rank']== 1)&(fide['rating']>2800)]
index0

,ranking_date,rank,name,title,country,rating,games,birth_year
2926,27-10-07,1,"Anand, Viswanathan",g,IND,2801,21,1969
3128,27-04-08,1,"Anand, Viswanathan",g,IND,2803,27,1969
4439,27-11-10,1,"Anand, Viswanathan",g,IND,2804,6,1969
4643,27-03-11,1,"Anand, Viswanathan",g,IND,2817,13,1969
4743,27-05-11,1,"Anand, Viswanathan",g,IND,2817,0,1969